---
layout: page
title: "Publications"
#description: ".."
header-img: "img/publication.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

        
<h3 id="toc_0">Journal Articles</h3>

<ul>

<li><b>Ji, H.<sup>#</sup></b>, Yin, J.<sup>#</sup>, Huang, Y. <sup>*</sup>, & Ding, X.<sup>*</sup> (2020). Selective attention operates on the 
          group level for interactive biological motion. <i>Journal of Experimental Psychology: 
          Human Perception and Performance</i>, <i>46</i>(12), 1434–1442.  
          <a href="https://doi.org/10.1037/xhp0000866" target="_blank">https://doi.org/10.1037/xhp0000866</a></li>
<li>Huang, Y., Liu, Z., <b>Ji, H.</b>, Duan, Z., Ling, H., Chen, J.<sup>*</sup>, & Ding, X.<sup>*</sup> (2020). Attentional
          bias in methamphetamine users: a visual search task study. <i>Addiction Research & 
          Theory</i>, <i>28</i>(6), <br>517-525. <a href="https://doi.org/10.1080/16066359.2019.1708905" target="_blank">https://doi.org/10.1080/16066359.2019.1708905</a></li>
<li>Shao, M., Yin, J.<sup>*</sup>, <b>Ji, H.</b>, Yang, Y., & Song, F. (2020). Distance perception warped by 
          social relations: Social interaction information compresses distance. <i>Acta 
          Psychologica</i>, <i>202</i>, 102948.<a href=" https://doi.org/10.1016/j.actpsy.2019.102948" target="_blank"> https://doi.org/10.1016/j.actpsy.2019.102948</a></li>
<li><b>Ji, H.</b>, & Pan, J. S.<sup>*</sup> (2019). Can I choose a throwable object for you? Perceiving 
          affordances for other individuals. <i>Frontiers in Psychology</i>, <i>10</i>, 2205. 
          <a href=" https://doi.org/10.3389/fpsyg.2019.02205" target="_blank"> https://doi.org/10.3389/fpsyg.2019.02205</a></li>
</ul>

<h3 id="toc_1">Conference Presentations</h3>

<ul>

<li><b>Ji, H.<sup>#</sup></b>, Yin, J.<sup>#</sup>, Huang, Y.<sup>*</sup>, & Ding, X.<sup>*</sup> (2020). Event-based attention: Selective 
    attention can operate interactive biological motion as a Unit. <a href="../Poster.pdf" target="_blank">Poster</a> presented at 
    the annual meeting of the Vision Sciences Society, 6/12/20, Online.<a href=" https://doi.org/10.1167/jov.20.11.203 " target="_blank"> https://doi.org/10.1167/jov.20.11.203 </a></li>
<li><b>Ji, H.</b>, Wang, K., Mao, H., Zhang, X., & Ding, X.<sup>*</sup> (2020). How does working memory 
    work? The manipulation unit of visual working memory. <a href="https://utexas.zoom.us/rec/play/pu4lEMiMzua8fQBJffrb3O60Niigk0nUJrvmxmYCYObYsH43UW7XF9vlvv5BK5IN8_B7UqMQK0UX9BNP.7MNtKx1V4fdyF68I?startTime=1591194600000&_x_zm_rtaid=eS3I58DhSNC5cmfKef8mvQ.1601563016059.a3e04db43785cad10a78491e5c39996e&_x_zm_rhtaid=488" target="_blank"> Talk</a> given at the <a href="https://docs.google.com/document/d/1oGZiaek6KhmCktSoiXs0fvG66QYasmMzCScHvLFkTw8/preview?pru=AAABcplMU-o*nVhs372ospnSFiSclby4eA#heading=h.dlu95zu0szq4" target="_blank"> Virtual Working Memory 
    Symposium</a>, 6/3/20, Online.</li>
<li><b>Ji, H.</b>, & Pan, J. S.<sup>*</sup> (2019). Can I choose a throwable object for you? Perceiving 
    affordances for other individuals. Poster presented at the 4th China Vision Science Conference, 
    7/7/19, Chengdu, Sichuan, China.</li>

</ul>

<h3 id="toc_2">Manuscripts</h3>

<ul>
<li>Sun, Y., Wang, X., Huang, Y., <b>Ji, H.</b>, & Ding, X.<sup>*</sup> (under review). Biological motion gains 
         preferential access to awareness during continuous flash suppression: Local biological motion matters. </li>
<li>Ding, X., Li, H., <b>Ji, H.</b>, Dai, H., Shen, M. <sup>*</sup>, & Gao, Z. <sup>*</sup> (in preparation). Processing 
         superiority for interactive biological motion in working memory. [working title]</li>
<li>He, W.<sup>#</sup>, Ye, S.<sup>#</sup>, <b>Ji, H.<sup>*</sup></b>, & Ding, X.<sup>*</sup> (in preparation). The fate of surface features in 
         moving object when crossing a tunnel. [working title]</li>
<li><b>Ji, H.</b>, Wang, K., Mao, H., Zhang, X., & Ding, X.<sup>*</sup> (in preparation). How does working 
         memory work? The manipulation unit of visual working memory.</li>
</ul>


<hr>

<small> <font color="a0a9a9">
<b>Notes：</b>
<li>#: co-first author; *: corresponding author</li>

</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  
{% if site.gitalk.enable %}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

